body {
  display: flex;
  justify-content: center;
}

.time {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

#red {
  color: red;
}

#green {
  color: green;
}

#blue {
  color: blue;
}