.background-red {
  background: red;
}

.background-green {
  background: green;
}

.background-orange {
  background: orange;
}

.background-color-green {
  background-color: green;
}

.background-color-purple {
  background-color: purple;
}